* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: whitesmoke;
}

.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    font-size: large;
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px 60px;
}

.ytIcon {
    background: lightblue;
    color: gray;
    font-size: large;
    padding: 5px;
    border: darkblue 1px solid;
    align-self: center;
}

.ytIcon:hover {
    background: lightgreen;
    font-size: large+1px;
    border: lightcyan 2px solid;
}

.item:nth-of-type(1) {
    color: white;
    font-size: large;
    padding: 20px;
    border: black 1px dashed;
    background: darkgray;

}

.item:nth-of-type(1):hover {
    background: lightgray;
}

.item:nth-of-type(2) {
    color: white;
    font-size: large;
    padding: 20px;
    border: black 1px dashed;
    background: darkgray;
}

.item:nth-of-type(2):hover {
    background: lightgray;
}

@media(max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}