@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Barlow Semi Condensed',
        sans-serif;
    line-height: 1.7;
    font-size: 13px;
}

.preference {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0.5rem;
}



.red-input:focus {
    background: yellow;
    color: red;
}

.blue-input:focus {
    background: yellow;
    color: blue;
}