@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'Barlow Semi Condensed',
    sans-serif;
    line-height: 1.7;
    font-size: 13px;
}

.order_entry{
    display: grid;
    justify-self: center;
}


.foodIcon1{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    padding: 0.5%;
    /* width: 40px; */
    /* height: 40px; */
    border: 0.5%;
    border: 5px dashed rgb(120, 0, 0);
    margin-right: 10px;
    margin-left: 10px;
}

.card__header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__header h2 {
    font-size: 25px;
}

.card__header p {
    opacity: 70%;
}

.card__form{
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 12px;
}

.card__form{
    opacity: 100%;
    size: 10rem;
    padding: auto;
    margin: auto;
}

.card__form p{
    opacity: 100%;
    size: 10rem;
    padding: auto;
    margin: auto;
}

.preference {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 60%;
    margin: 0.5rem;
}

.drink_flavor{
    display: flex;
    size: 10px;
    justify-self: left;
    align-self: center;
    margin: 0.5rem;
}

.card_tail{
    size: 10px;
    margin-left: 15px;
}

.Custom_Tip{
    size: 15px;
    justify-self: center;
    align-self: center;
}


/* body{
    font-size: 10px;
} */

footer{
    font-size: 1px;
    text-align: center;
}