<body>
  <!-- <ul>{{title}} used by {{restaurantName}}</ul>
  <router-outlet class="Temp1">restaurantCapacity {{restaurantCapacity}}</router-outlet>
  <button type="button" mat-raised-button color="primary"
    (click)="checkCapacity()">
    {{actionButtonLabel}} = {{isFullString}}
  </button>
  <span>The current occupancy level: {{currentOccupancyPercentage}}</span>
  <span>Restaurant type: {{restaurantType}}</span>
  <span>Restaurant entree {{myCoreFood}} at a price of {{myPricing}}</span> -->

  <!-- <input type="text" [(ngModel)]="checkCapacity()">
  <button>{{restaurantCapacity}}</button> -->

<!-- <div *ngIf="isFullBool">{{isFullString}}</div>
<div *ngFor="let item of myFoodValues">{{item}}</div>
<div [ngSwitch]="myPricing">
  <div ngSwitchCase="water">drinks</div>
</div> -->

</body>
